<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PembookinganFutsal.My.MySettings.ConnectionString"
            connectionString="Dsn=bookingfutsal1;uid=root" providerName="System.Data.Odbc" />
        <add name="PembookinganFutsal.My.MySettings.dbbookingfutsalConnectionString"
            connectionString="Dsn=bookingfutsal1;server=localhost;uid=root;database=dbbookingfutsal;port=3306;big_packets=1;dynamic_cursor=1;auto_reconnect=1;multi_statements=1;enable_cleartext_plugin=1"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
